:root{
  --header-hight: 70px;
}
body{
height: 100vh;
width: 100vw;
}
.header{
  height: var(--header-hight);
  width: 100vw;
  background-color: #00a5e7;
  position: fixed;
}
.main-title{
  height: 100%;
  width: 400px;
  float: left;
  text-align: center;
  line-height: 50px;

}
.title{
  height: 50%;
  font-size: 30px;
}
.sub-title{
  height: 50%;
  font-size: 20px;
}
.header-ul{
  list-style: none;
  float: right;
  font-size: 20px;
}
.header-li{
  display: inline;
  margin: 0 100px;
  line-height: 70px;
}
.contents{
  padding-top: var(--header-hight);
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}
.profile{
  background-color: #a0c238;
}
.profile_title{
  padding: 10px 0 0 10px;
  font-size: 20px;
}
.profile_body{
  padding: 0 80px;
  height: 80%;
}
h1{
  font-size: 24px;
  margin-bottom: 10px;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.gengo-ul{
  float: left;
  margin-right: 200px;
}
.gengo-li{
  margin-left: 30px;
}
.library-ul{
  float: left;
  margin-right: 200px;
}
.library-li{
  margin-left: 30px;
}
.otherwise-ul{
  float: left;
}
.otherwise-li{
  margin-left: 30px;
}
.works{
  background-color: #d78114;
}
.works_title{
  padding: 10px 0 0 10px;
  font-size: 20px;
}

.works_performance{
  padding: 0 80px;
  height: 80%;
}
.performance-title{
  font-weight: bold;
  text-align: center;
}
.works_chat-space{
  height: 150px;
  width: 250px;
  border: 3px solid white;
  background-image: url("./chat-space-image.jpg");
  background-size: cover;
}

.chat-space-image{
  float: left;
}
.chat-space-sentence{
  float: left;
  margin-left: 10px;
}
.contact{
  background-color: #fff001;
}
.contact_title{
  padding: 10px 0 0 10px;
  font-size: 20px;
}
.contact_body{
  padding: 0 80px;
  height: 80%;
}
